.page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .homepage form {
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homepage div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .homepage label {
    font-weight: bold;
  }
  
  .homepage input[type="text"],
  .homepage input[type="number"],
  .homepage input[type="text"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .homepage select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .homepage select[multiple] {
    height: auto;
  }
  
  .homepage select option {
    padding: 10px;
  }
  
  .homepage input[type="file"] {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .homepage button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .homepage button:hover {
    background-color: #0056b3;
  }
  
  .homepage .error {
    color: red;
    font-size: 14px;
  }
  .shipping-schedule {
    text-align: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .shipping-schedule div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .shipping-schedule label {
    font-weight: bold;
  }
  
  .shipping-schedule input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .shipping-schedule button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .shipping-schedule button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
 
.vendor-products{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  height: 100vh;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 10px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
}

table td select {
  width: 100%;
  padding: 8px;
}

table button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

table button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
